.header {
  display: flex;
  padding: 0px 20px;
  gap: 5px 10px;
  align-items: center;
  font-size: 18px;
}

.header-left, 
.header-center,
.header-right {
  flex: 1;
}

.header-left {
  justify-content: flex-start;
  display: flex;
  gap: 5px 40px;
}

.header-center {
  justify-content: center;
  display: flex;
  font-size: 24px;
  font-weight: 800;
}

.header-right {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  gap: 5px 10px;
}

.header-right img {
  max-height: 30px;
  max-width: 30px;
}

.header-separator {
  width: 100%;
  height: 10px;
  background-color: #C3C3C3;
}

