.workspace {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
  column-gap: 20px;
  width: 100%;
  height: calc(100% - 35px);;
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;
}

.workspace > * {
  width: 100%;
  height: 100%;
  min-height: 0;
  min-width: 0;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: border-color 0.2s, background-color 0.2s;
  box-sizing: border-box;
}

.drop-zone.dragging-over {
  border: 2px dashed #cccccc;
  background-color: rgba(0, 0, 0, 0.02);
}

.drop-zone.drag-over-active {
  border: 2px dashed #000000;
  background-color: rgba(0, 0, 0, 0.05);
}