.workspace {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
  column-gap: 20px;
  width: 100%;
  height: 100%;
  padding: 10px 0;
}

.workspace > * {
  width: 100%;
  height: 100%;
}

