#root {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
}

.body {
  display: grid;
  grid-template-columns: 280px 10px 1fr; /* sidebar | separator | main */
  height: calc(100vh - var(--header-height));
  overflow: hidden;
}

.vertical-separator {
  width: 10px;
  background: #c3c3c3;
  height: 100%;
}